<footer class="footer-container">
  <div class="footer-header">
    <h2>SJP Locações</h2>
    <p>Desenvolvido por Lucas da Silva Paz</p>
  </div>

  <div class="contato-grid">

    <div class="contato-card">
      <div class="icon-circle">
        <img src="assets/imagens/logo-zap.png" alt="WhatsApp" class="logo-img" loading="lazy">
      </div>
      <h4>WhatsApp</h4>
      <p>Atendimento direto</p>
      <a href="https://wa.me/5561994120829" target="_blank" rel="noopener noreferrer" class="btn-outline">Enviar
        Mensagem</a>
    </div>

    <div class="contato-card">
      <div class="icon-circle">
        <img src="assets/imagens/logo-gmail.png" alt="Gmail" class="logo-img" loading="lazy">
      </div>
      <h4>E-mail</h4>
      <p>lucaspaz4486@gmail.com</p>
      <a href="mailto:lucaspaz4486@gmail.com" class="btn-outline">Enviar E-mail</a>
    </div>

    <div class="contato-card">
      <div class="icon-circle">
        <img src="assets/imagens/logo-linkedin.png" alt="LinkedIn" class="logo-img" loading="lazy">
      </div>
      <h4>LinkedIn</h4>
      <p>Conexões profissionais</p>
      <a href="https://www.linkedin.com/in/lucas-da-silva-paz-7b752b214" target="_blank" rel="noopener noreferrer"
        class="btn-outline">Acessar Perfil</a>
    </div>

    <div class="contato-card">
      <div class="icon-circle">
        <img src="assets/imagens/logo-github.png" alt="GitHub" class="logo-img" loading="lazy">
      </div>
      <h4>GitHub</h4>
      <p>Meus repositórios</p>
      <a href="https://github.com/lucaspaz4486" target="_blank" rel="noopener noreferrer" class="btn-outline">Ver
        Projetos</a>
    </div>

  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 SJP Locações. Todos os direitos reservados.</p>
  </div>
</footer>